<h4>Delivery manifest for <%= params[:expected_date]%></h4>

<%= form_tag admin_deliveries_manifest_path do |f| %>
  <table>
    <thead>
      <tr>
        <th>Company</th>
        <th>Address</th>
        <th>Phone #</th>
        <th>Contact name</th>
        <th>Special instructions</th>
        <th># packs</th>
        <th><%= check_box_tag "selectAll" %>Check / Uncheck All</th>
      </tr>
    </thead>

    <tbody>
      <% @deliveries.each do |delivery| %>
        <tr>
          <td><%= delivery.user.company_name %></td>
          <td><%= delivery.user.address %></td>
          <td><%= delivery.user.phone %></td>
          <td><%= delivery.user.contact_name %></td>
          <td></td>
          <td><%= delivery.subscription.n_packs %></td>
          <td>
            <%= hidden_field_tag "delivery[#{delivery.id}][delivered]", 0 %>
        		<%= check_box_tag "delivery[#{delivery.id}][delivered]", 1, delivery.delivered %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag "Checked items have been delivered" %>
<% end %>
<%= link_to 'Back', :back %>



<script type='text/javascript'>
    $('#selectAll').click(function() {
		   if (this.checked) {
		       $(':checkbox').each(function() {
		           this.checked = true;
		       });
		   } else {
		      $(':checkbox').each(function() {
		           this.checked = false;
		       });
		   }
		});
</script>
