<%= render 'users/navigation' %>
<div class="wrapper">
<div class="frame">
<div class="padded-div">
<h2 class="light-heading">Delivery manifest for <%= params[:expected_date]%></h2>
<div class="main-content small-text">
<%= form_tag admin_deliveries_manifest_path do |f| %>
  <table>
    <thead>
      <tr>
        <th class="table-headers">Company</th>
        <th class="table-headers">Address</th>
        <th class="table-headers">Phone #</th>
        <th class="table-headers">Contact name</th>
        <th class="table-headers"># packs</th>
        <th class="table-headers"><%= check_box_tag "selectAll" %>All</th>
      </tr>
    </thead>

    <tbody>
      <% @deliveries.each do |delivery| %>
        <tr>
          <td><%= delivery.user.company_name %></td>
          <td><%= delivery.user.address %></td>
          <td><%= delivery.user.phone %></td>
          <td><%= delivery.user.contact_name %></td>
          <td><%= delivery.subscription.n_packs %></td>
          <td>
            <%= hidden_field_tag "delivery[#{delivery.id}][delivered]", 0 %>
            <%= check_box_tag "delivery[#{delivery.id}][delivered]", 1, delivery.delivered %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p class="form-label"><%= submit_tag "Checked items have been delivered", class: 'small-button' %></p>
<% end %>
</div>
<p class="navigation-links"><%= link_to 'Back', :back %></p>
</div>
</div>
</div>

<script type='text/javascript'>
    $('#selectAll').click(function() {
		   if (this.checked) {
		       $(':checkbox').each(function() {
		           this.checked = true;
		       });
		   } else {
		      $(':checkbox').each(function() {
		           this.checked = false;
		       });
		   }
		});
</script>
