<% if @subscriptions.length > 0 %>
	<h4>Deliveries scheduled for this Friday, <%= this_friday.strftime("%b %-d, %Y") %></h4>
	<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Address</th>
      <th>Phone #</th>
      <th>Contact name</th>
      <th># packs</th>
      <th>Special instructions</th>
    </tr>
  </thead>

  <tbody>
    <% upcoming_deliveries.each do |sub| %>
      <tr>
        <td><%= sub.user.company_name %></td>
        <td><%= sub.user.address %></td>
        <td><%= sub.user.phone %></td>
        <td><%= sub.user.contact_name %></td>
        <td><%= sub.n_packs %></td>
        <td></td>
      </tr>
    <% end %>
    <tr>
    	<td></td>
    	<td></td>
    	<td></td>
    	<td>Total</td>
    	<td><%= upcoming_totals(upcoming_deliveries) %></td>
    </tr>
  </tbody>
</table>

<%= link_to "Generate manifest", admin_deliveries_manifest_create_path %>

<% else %>
<h4>There are no deliveries scheduled for this Friday, <%= this_friday.strftime("%b %-d, %Y") %></h4>
<% end %>