<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.contact_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Postal Code:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Company Name:</strong>
  <%= @user.company_name %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
