<%= render 'users/navigation' %>
<div class="wrapper">
  <div class="frame">
    <div class="padded-div">
      <% if flash[:alert] %>
      <p id="alert"><%= flash[:alert] %></p>
      <% end %>
      <% if !@user.area %>
        <h2 class="light-heading">We're sorry but you are currently outside the delivery area. But fear not! We will contact you when we have expanded to your area.</h2>
      <% elsif @user.subscription %>
        <h2 class="light-heading">Your subscription:</h2>
        <%= render 'shared/subscription_details' %>
      <% else %>
        <h2 class="light-heading">No beer for you! You haven't subscribed to a plan yet.</h2>
        <div class="padded-div">
              <p class="button"><%= link_to "Subscribe", new_subscription_path %></p>
        </div>
      <% end %>
      </div>
      <div class="padded-div">
      <h2 class="light-heading">Your account details:</h2>
      <%= render 'shared/user_details' %>
    </div>
    <p class="navigation-links"><%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Back', :back %><p>
  </div>
</div>
