

<%= form_tag '/subscriptions' do %>
<%= render partial: "shared/form_errors", locals: {thing: @subscription} %>

	<h4>Select frequency of delivery</h4>

	<% @plans.each do |plan| %>
	<p>
	<%= radio_button_tag('plan_id', plan[:id]) %>
	<%= label_tag('plan_id_'+ plan[:id].to_s, plan[:name] + " // #{number_to_currency(plan[:amount_in_cents].to_f/100)} Monthly Fee") %>
	</p>
	<% end %>

	<h4>Select quantity</h4>

	<%= select_tag "n_packs", options_for_select((1..10)), :prompt => "Number of 6-packs" %>

	<h4>Select date of first delivery</h4>

	<%= select_tag "first_delivery_date", options_for_select(fridays_dropdown.map{ |f| [f.strftime("%a. %b %-d, %Y")] }), :prompt => "Choose an upcoming Friday"%>

<p><%= submit_tag "Subscribe" %></p>

<% end %>

