<%= render 'users/navigation' %>
<%= form_for @subscription do |f| %>
	<%= render partial: "shared/form_errors", locals: {thing: @subscription} %>
	<h4>Select frequency of delivery</h4>

	<% @plans.each do |plan| %>
		<%= label_tag nil, :class => 'block' do %>
		<!--The below code references the subscription model, and associates the radio button ID to each button. This is needed because they reside in different models-->
			<%= radio_button_tag('subscription[plan_id]', plan[:id]) %>
			<%= "#{plan.name} // #{number_to_currency(plan[:amount_in_cents].to_f / 100.0)} Monthly Fee" %>
		<% end %>
	<% end %>

	<h4>Select quantity</h4>

	<%= f.select :n_packs, options_for_select((1..10)), :prompt => "Number of 6-packs" %>

	<h4>Select date of first delivery</h4>

	<%= f.select :first_delivery_date, options_for_select(fridays_dropdown.map{ |f| [f.strftime("%a. %b %-d, %Y")] }), :prompt => "Choose an upcoming Friday"%>

	<% if current_user %>
		<div id="stripe-checkout">
			<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
			data-description="A month's subscription"
			data-amount="6000" data-email="<%= current_user.email %>"></script>
		</div>
	<% end %>
<% end %>

<!-- ('input:radio:checked').val(); -->