<table>
  <thead>
    <tr>
      <th class="table-headers-sm">Email</th>
      <th class="table-headers-sm">Company</th>
      <th class="table-headers-sm">Contact name</th>
      <th class="table-headers-sm">Created</th>
      <th class="table-headers-sm">Activation state</th>
      <th class="table-headers-sm">Admin</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.company_name %></td>
        <td><%= user.contact_name %></td>
        <td><%= user.created_at.localtime.strftime ("%F") %></td>
        <td><%= user.activation_state %></td>
        <td><%= user.admin %></td>
        <td class="navigation-links"><%= link_to 'Show', user %>|<%= link_to 'Edit', edit_user_path(user) %>|<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>