<%= render 'users/navigation' %>
<div class="wrapper">
<div class="frame">
<div class="padded-div">
<div>
<p class="navigation-links"><%= link_to 'Back', :back %> | <%= link_to 'Recently registered users', admin_users_recent_path %></p>
</div>
<h2 class="light-heading">Displaying all <%= count_all_users %> users + <%= count_all_admins %> admins </h2>
<div class="main-content small-text">
<%= render 'users_table' %>
</div>
</div>
</div>
</div>