<%= link_to 'Back', :back %> | <%= link_to 'Recently registered users', admin_users_recent_path %>

<h2>Displaying all <%= count_all_users %> users + <%= count_all_admins %> admins  </h2>

<%= render 'users_table' %>