<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Company</th>
      <!-- NJ note: replace with nickname later -->
      <th>Contact name</th>
      <th>Created at</th>
      <th>Activation state</th>
      <th>Admin</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.company_name %></td>
        <td><%= user.contact_name %></td>
        <td><%= user.created_at.localtime.strftime ("%b %-d, %Y %I:%M %P") %></td>
        <td><%= user.activation_state %></td>
        <td><%= user.admin %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
