<%= render 'users/navigation' %>
<%= link_to 'Back', :back %> | <%= link_to "Recent subscriptions only", admin_subscriptions_recent_path   %>

<h2>Displaying all <%= count_all_subs %> active subscriptions</h2>

<%= render 'subs_table' %>