<%= form_tag user_sessions_path, :method => :post do %>
  <p class="form-label">
    <%= label_tag :email %><br>
    <%= text_field_tag :email %>
  </p>
  <p class="form-label">
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </p>
  <p class="form-label">
    <%= submit_tag "Login", class: 'button' %>
  </p>
<% end %>